@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;0,900;1,500&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    /* color */
    --black-color: #191919;
    --gray-color: #505050;
    --light-gray-color: #767676;
    --background-color: #f8f8f8;
    --white-color: #fff;

    /* margin */
    --smallest-margin: 0.625rem;
    /*10px*/
    --normal1-margin: 1.875rem;
    /*30px*/
    --normal2-margin: 3.125rem;
    /*50px*/
    --largest-margin: 7.5rem;
    /*120px*/
    --largest2-margin: 9.375rem;
    /*150px*/

    /* padding */
    --largest-padding: 16.250rem;
    /*260px*/
    --large-padding: 10rem;
    /*160px*/
    --normal1-padding: 6.875rem;
    /*110px*/
    --normal2-padding: 5.625rem;
    /*90px*/
    --normal3-padding: 4.375rem;
    /*70px*/
    --normal4-padding: 2.5rem;
    /*40px*/
    --small-padding: 1.875rem;
    /*30px*/
    --smallest-padding: 1.563rem;
    /*25px*/

    /* font-size */
    --largest-size: 3rem;
    /*48px*/
    --large-size: 2.250rem;
    /*36px*/
    --large2-size: 1.875rem;
    /*30px*/
    --normal1-size: 1.5rem;
    /*24px*/
    --normal2-size: 1.125rem;
    /*18px*/
    --normal3-size: 1rem;
    /*16px*/
    --small-size: 0.875rem;
    /*14px*/
    --smallest-size: 0.750rem;
    /*12px*/
}

/* ================ NAVBAR ================ */

header {
    width: 100%;
    height: auto;
    background: var(--white-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

nav>div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 10rem;
    box-sizing: border-box;
    position: fixed;
    background: #fff;
    align-items: center;
    border-bottom: 1px solid #191919;
}

nav .toggleBtn {
    width: 32px;
    cursor: pointer;
}

nav .toggleBtn img {
    width: 100%;
}


nav span.logo {
    font-size: var(--large-size);
    letter-spacing: -0.075rem;
    /* -1.2px */
    font-weight: bold;
    color: var(--black-color);
    cursor: pointer;
}

nav ul.menuIcons {
    display: flex;
}

nav ul.menuIcons li {
    padding: 0.5rem 1.25rem;
    /* 8px 20px */
    cursor: pointer;
}

nav ul.menuIcons li:last-child {
    padding: 0
}

nav .sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--white-color);
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
    padding-top: 80px;
    box-sizing: border-box;
}

nav .sideNav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: var(--large2-size);
    margin-left: 50px;
}

nav .sideNav ul.menuList li {
    line-height: 3;
    padding-left: var(--normal4-padding);
}

nav .sideNav ul.menuList a {
    color: var(--black-color);
    text-transform: uppercase;
    font-size: var(--normal1-size);
    font-weight: bold;
}

nav ul.menu__content {
    display: none
}

.toggleShow {
    display: block;
}

nav .sideNav ul.menu__content a {
    font-size: 16px;
    font-weight: lighter
}

nav .sideNav ul.menu__content li {
    line-height: 2.3;
}

nav .sideNav ul.menu__content .common>a {
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

/* ================ section ================ */


#main {
    transition: margin-left .5s;
}

section {
    width: 100%;
}

section .title {
    width: 100rem;
    margin: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

section .title h1 {
    font-size: var(--large-size);
    /* 36px */
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-top: 16.250rem;
    /* 260px */
    box-sizing: border-box;
    line-height: 1.3;
}

section .title p {
    width: 52.5rem;
    /* 1000px */
    font-size: var(--normal3-size);
    /* 16px */
    line-height: 1.3;
    margin-top: 4.375rem;
    /* 70px */
    padding-bottom: var(--normal3-padding)
        /* 70px */
}

section .title span {
    text-transform: uppercase;
    font-size: var(--small-size);
    /* 14px */
    padding-bottom: 0.500rem
        /* 8px */
}

section .imgContent {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 4.375rem
        /* 70px */
}


/* ================ footer ================ */

#footer {
    width: 100%;
    padding: var(--normal3-padding) var(--large-padding) 11.25rem;
    /* 70px 160px 180px; */
    box-sizing: border-box;
    background: #f8f8f8;
    margin-top: 16.250rem
        /* 260px */
}

#footer h1 {
    font-size: var(--large-size);
    /* 36px */
    color: var(--black-color);
    font-weight: bold;
    letter-spacing: -0.075rem;
    /* -1.2px */
}

#footer .footerList {
    display: flex;
    justify-content: space-between;
    margin-top: var(--normal2-margin)
        /* 50px */
}

#footer .footerList li.footerTitle {
    font-size: var(--normal3-size);
    /* 16px */
    color: #191919;
    margin-bottom: 0.938rem;
    /* 15px */
}

#footer .footerList li.footerTitle img {
    display: none;
}

#footer .footerList ul.list {
    font-size: var(--small-size);
    color: #505050;
    line-height: 2.5;
}

#footer .footerList ul.list a {
    color: #767676
}

#footer .footerList span.line {
    width: 100%;
    height: 1px;
    display: block;
    background: #767676;
    margin: 0.500rem 0 0.938rem 0;
    /* 8px 0 15px 0; */
}

#footer .findUs h1 {
    margin: 3.125rem 0 2.5rem;
    /* 50px 0 40px */
    color: #767676;
    font-weight: 100;
}

#footer .footerTitle i {
    display: none;
}

#footer .findUs p {
    font-size: var(--small-size);
    color: #767676;
    line-height: 1.5;
}

#footer ul.iconsList {
    display: flex;
}

#footer ul.iconsList li {
    margin-right: 1.875rem
        /* 30px */
}

#footer .btnCont {
    margin-top: 1.875rem;
    /* 30px */
    display: flex;
}

#footer .btnCont button {
    display: inline-block;
    padding: 0.9rem 2rem;
    border: none;
    text-decoration: none;
    background: #CECDCA;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
}

#footer .btnCont button:hover,
#footer .btnCont button:focus {
    background: #505050;
}

#footer .btnCont button:focus {
    outline: 1px solid #fff;
    outline-offset: -0.250rem
        /* -4px */
}

#footer .btnCont button:active {
    transform: scale(0.99);
}

#footer input[type="text"] {
    width: 16.188rem;
    /* 195px */
    height: 2.9rem;
    /* 43px */
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e5e5ec;
}

#footer input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px #505050;
    border: 1px solid #767676;
}

#footer input[type="text"]:focus:hover {
    outline: none;
    box-shadow: 0px 0px 5px #505050;
    border: 1px solid #767676;
    border-radius: 0;
}

#footer .poliform {
    display: flex;
    justify-content: space-between;
    width: 81.250rem;
    /* 1300px */
    margin-top: 10.375rem
}

#footer .poliform span,
#footer .poliform span a {
    color: #767676;
    font-size: var(--small-size);
}

#footer .poliform span:nth-child(2) {
    margin-left: 10rem
        /* 160px */
}

#footer .searchCont {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#footer .searchCont img {
    width: 15px;
    margin-top: 2px;
    margin-left: 6px;
}

/* .inline-photo {
    opacity: 0;
    transform: translateY(4em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out;
    will-change: transform, opacity;
}


.inline-photo.is-visible {
    opacity: 1;
} */
